numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
streamlit==1.37.0
matplotlib==3.8.4

# IMPORTANT FIX
opencv-python-headless==4.9.0.80

pillow==10.3.0

# FIXED NAME
grad-cam

tqdm==4.66.5
scipy==1.11.4
scikit-learn==1.3.2
pandas==2.1.4

# ENV + API
python-dotenv
groq
